p {
  display: inline-block;
  color: rgb(38, 83, 121);
}

.error {
  color: rgb(221, 58, 58);
}

.box {
  border: 1px solid rgb(0, 0, 0); 
  border-radius: 5px;
  width: 70vw; 
  margin-left: 80px; 
  margin-bottom: 20px;
  padding:10vh;
}

html {
  margin-top: 10vh;
}